
<h1>Instructor Erdinc Atilgan's Site</h1>

<p> This page is designed to facilitate my connectivity with my students</p>

<% if user_signed_in? %>
	<p>Go to classes and find your class or lab, <%= current_user.name %> ... </p>
<% else %>
	<%= button_to "Students, sign up here", new_user_registration_path, method: :get, class: 'button-signup' %> 
<% end %>


<%= link_to "documents", documents_url if user_signed_in? and current_user.admin? %>


<br>

<%= link_to "classes", labs_url %>