<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= link_to @document.name, @document.doc_file_url %>
</p>

<br>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
